@import "../../../../utils/colors.scss";

.chat {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  position: relative;
  background-color: $middleGrey;
  padding: 3px 7px;
  border-radius: 5px;
  &_folded {
    background-color: transparent;
  };
  &__container {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    row-gap: 10px;
    max-height: 40px;
    margin-right: 20px;
  };
  &__avatar {
    width: 50px;
    height: 50px;
  };
  &__name {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
  };
  &__message {
    box-sizing: unset;
    font-size: 10px;
    font-weight: 400;
    margin: 0;
    height: 10px;
    overflow: hidden;
    white-space: nowrap;
    max-width: 280px;
    text-overflow: ellipsis;
  };
  &__unread-msg {
    position: absolute;
    box-sizing: border-box;
    top: 5px;
    margin: 0;
    right: 7px;
    font-size: 8px;
    font-weight: 400;
    background-color: $blue;
    width: 14px;
    height: 14px;
    border-radius: 10px;
    line-height: 14px;
    text-align: center;
    color: $whiteFont;
  };
  &__date {
    &::before {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      background-image: url(../../../../images/tick.svg);
      background-repeat: no-repeat;
      right: 25px;
      top: 2px;
    };
    position: absolute;
    bottom: 5px;
    margin: 0;
    right: 7px;
    font-size: 8px;
    font-weight: 400;
    font-style: italic;
  };
};
