<div class="temporary-avigation">
  <div>
    {{#each pathes}}
      {{>navBtn href=path title=title}}
    {{/each}}
  </div>
  <span class="temporary-avigation__text">временная навигация для ревью</span>
</div>