<div class="temporary-avigation">
  <nav>
    {{#each pathes}}
      {{>navBtn href=path title=title}}
    {{/each}}
  </nav>
  <span class="temporary-avigation__text">временная навигация для ревью</span>
</div>
