@import "../../utils/colors.scss";

.button {
  outline: none;
  cursor: pointer;
  border: none;
  transition: all ease-in .1s;
  position: relative;
  width: fit-content;
  margin: auto;
  &:hover {
    opacity: .9;
  };
  &__router_link {
    text-decoration: none;
    color: $ligthBlueFont;
  };
  &__menu-btn {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: 0.5px solid $blue;
    margin: auto 30px;
    transform: rotate(90deg);
    padding: 0px 3px 21px;
    font-size: 37px;
    line-height: 0;
    font-weight: 600;
    color: $blue;
    background-color: $backgroundGrey;
    &:hover {
      border: 1px solid $blue;
      box-shadow: 0px 1px 5px rgb(184, 184, 184);
    };
    &:active {
      color: $ligthBlueFont;
    };
  };

  &__message-input {
    min-width: 40px;
    min-height: 40px;
    background-color: transparent;
    flex-direction: row;
    background-size: contain;
    background: $blue;
    &:hover {
      transform: rotate(13deg);
    };
    &_attach {
      margin-left: 24px;
      mask: url("../../images/staple.svg") center / 38px no-repeat;
      margin-top: 7px;
    };
    &_send {
      min-width: 37px;
      min-height: 37px;
      margin-right: 25px;
      background-image: url("../../images/plane_btn.svg");
      background-size: contain;
      background-repeat: no-repeat;
      border-radius: 40px;
      margin-bottom: 18px;
      margin-top: 15px;
      background-color: $blue;
    };
  };
  &__sidemenu-footer {
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    margin-top: 10px;
    &:hover {
      background: $lightgreyFont;
    };
    &_contacts {
      background: $darkGrey;
      mask: url("../../images/contakt.svg") center / 35px no-repeat;
      width: 50px;
      height: 50px;
      transition: all .2s ease;
      &:hover {
        transform: scale(1.05);
      };
    };
    &_chats {
      background: $darkGrey;
      mask: url("../../images/chats.svg") center / 38px no-repeat;
      width: 50px;
      height: 50px;
      transition: all .2s ease;
      &:hover {
        transform: scale(1.05);
      };    
    };
    &_settings {
      background: $darkGrey;
      mask: url("../../images/settings.svg") center / 38px no-repeat;
      width: 50px;
      height: 50px;
      transition: all .2s ease;
      &:hover {
        transform: rotate(13deg);;
      };
    };
  };
  &__switch-location {
    color: $blue;
    background: transparent;
    font-size: 13px;
    font-weight: 400;
    margin-top: 25px;
    letter-spacing: 1.5px;
    &:hover {
      letter-spacing: 1.8px;
    };
  };
  &__form {
    color: $whiteFont;
    min-width: 300px;
    width: 100%;
    border-radius: 8px;
    min-height: 40px;
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    background-color: $blue;
    &_registration {
      margin-top: 30px;
    };
    &_login { 
      margin-top: 100px;  
    };
    &_disabled {
      background-color: $shadowGrey;
      cursor: auto;
    };
    &_submit {
      margin-top: 35px;
    };
    &_user-data {

    };
  };
  &__fold-menu-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
  };
  &__fold-menu {
    background:  url("../../images/fold_menu.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 60px;
    height: 25px;
    transition: all .2s ease;
    transform: scaleX(-1);
    margin-left: auto;
    margin-right: 15px;
    &:hover {
      margin-right: 20px;
    };
  };
  &__chat {
    background-color: transparent;
    padding-left: 15px;
    font-weight: 400;
    font-size: 15px;
    width: 100%;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0;
    &:hover {
      transform: scale(1.05);
    };
    &_clear {
      color: $blue;
      background-image: url(../../images/rubber.svg);
    };
    &_remove {
      color: $removerRed;
      background-image: url(../../images/remove_cross.svg);
    };
    &_pic {
      &::before {
        content: "";
        background-image: url(../../images/photo_icon.svg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        padding-left: 30px;
      };
      padding-right: 0;
      color: $blue;
      display: flex;

    };
    &_map {
      &::before {
        content: "";
        background-image: url(../../images/Pin.svg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        padding-left: 30px;
      };
      color: $blue;
      display: flex;
    };
    &_file {
      &::before {
        content: "";
        background-image: url(../../images/floppy.svg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        padding-left: 30px;
      };
      color: $blue;
      display: flex;
    };
  };
  &__confirm {
    background-color: $blue;
    color: $whiteFont;
    font-weight: 400;
    font-size: 15px;
    width: fit-content;
    padding: 5px 40px;
    border-radius: 5px;
    margin: auto;
  };
  &__avatar{
    background-color: transparent;
    padding: 0;
    z-index: 10;
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: url(../../images/photo.svg);
      border-radius: 60px;
      background-repeat: no-repeat;
      margin: 37px 30px 30px 33px;
      height: 34px;
      opacity: .5;
      transition: all;
    };
  };
  &__form_user-data {
    margin-top: 40px;
  };
  &__exit {
    color: $removerRed;
    background: transparent;
    &:hover {
      transform: scale(1.05);
    };
  };
};
