{{#if text}}
  {{>header class="header__form" text=text}}
{{/if}}
<form class="form {{formClass}}" type={{type}} id={{formId}}>
  {{#each inputs}}
  {{log formInput}}
    {{>formInput id=id 
                 labeClass=labeClass 
                 title=title
                 type=type
                 errorMessage="error"
                 inputValue=value
                 }}
  {{/each}}
  {{>button id=btnId
            value=value
            class=btnClass
            type=type
            linkHref=linkHref
            valueClass="button__value_form-btn"}}
</form>
