{{#if folded}}
<div class="chats chats_folded">
  <div class="button__fold-menu-container">
    {{>button id="fold-btn" class="button__fold-menu"}}
  </div>
  {{#each chatsArr}}
    {{>chat  avatar=avatar 
             owner=owner
             message=message
             lastMessageTime=lastMessageTime
             newMessages=newMessages
             folded=../folded
    }}
  {{/each}}
</div>
{{else}}
<div class="chats">
  <div class="button__fold-menu-container">
    {{>button id="fold-btn" class="button__fold-menu" onclick=foldSidemenuHandler}}
  </div>
  {{#each chatsArr}}
    {{>chat  avatar=avatar 
             owner=owner
             message=message
             lastMessageTime=lastMessageTime
             newMessages=newMessages
             folded=../folded
    }}
  {{/each}}
</div>
{{/if}}