<div class="registration">
  {{>form text="Регистрация" 
          formClass="form__welcome form__welcome_registration" 
          type="button" 
          formId="registration"
          inputClass="input__registration"
          btnId="registration"
          value="Регистрация"
          btnClass="button__form button__form_registration"
          linkHref="/main/chat"
          valueClass="button__value_form-btn"
          }}
  {{>button id="to-login" 
            value="Есть аккаунт?" 
            class="button__switch-location" 
            type="button"
            linkHref="/login"
            valueClass="button__value"
            }}
</div> 
