$blue: #2D8CC2;
$darkgreyFont: #626262;
$lightgreyFont: #747575;
$lightgrey: #CECCCC;
$backgroundGrey: #E3E3E3;
$redError: #b23838;
$middleGrey: #cfcfcf;
$darkGrey: #929292;
$ligthBlue: #BCD0DB;
$ligthBlueFont: #36B4FC;
$greenSuccess: #4D9900;
$yellowEye: #FFB800;
$whiteFont: #fefefeef;
$greyInput: #ffffff94;
$placeholderGrey: #848484;
$black: #000000;
$shadowGrey: rgba(184, 184, 184, 0.705);
$sideMenuBackground: #D9D9D9;
$inputBackground: #E4E4E4;
$inputBackgroundFocus: #ececec;
$incomingMsgWhite: #F0F0F0;
$messageLigthBlue: #BCD0DBE5;
$removerRed: #C60000;
$popupBlue: #bee5f5;
$orange: #bee5f5;


