{{#if folded}}
  <div class="password-form-container password-form-container_folded">
{{else}}
  <div class="password-form-container password-form-container_opened">
{{/if}}
  {{>form formClass="form__welcome form__passwords" 
          type="submit" 
          formId="passwords"
          btnId="change-password"
          value="Сохранить"
          btnClass="button__form button__form_user-data"
          inputs=inputs}}
</div>
