@import "./utils/colors.scss";
@import url(./vendor/normalize.scss);
@import url(./fonts/fonts.css);

.main-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: $backgroundGrey;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
  color: $darkgreyFont;
  font-family: "Inter", Arial, sans-serif;;
};
