<nav class="sidemenu-footer">
  {{>button id="contacts" 
            class="button__sidemenu-footer button__sidemenu-footer_contacts"
            type="button" }}
            
  {{>button id="chats"
            class="button__sidemenu-footer button__sidemenu-footer_chats"
            type="button" }}

  {{>button id="settings"
            class="button__sidemenu-footer button__sidemenu-footer_settings" 
            type="button" }}
</nav>
